// FOR BASE STYLES
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  // This defines the value of 1rem.
  font-size: 62.5%; // 62.5% of 16px (default browser font size) = 10px
}

html,
body {
  min-height: 100vh;
  font-family: var(--default-font-family);
}

body {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
}
