// CUSTOM CSS PROPERTIES (VARIABLES)
html {
  --default-font-size: 1.6rem;
  --default-font-family: "Open Sans", sans-serif;

  --box-shadow-header: 3px 5px 15px rgba(0, 0, 0, 0.1);
  --box-shadow-sidebar: 10px 3px 15px rgba(0, 0, 0, 0.05);
  --box-shadow-button: inset 0px 4px 4px rgba(0, 0, 0, 0.12);

  --color-primary: #713bdb;
  --color-secondary: #888cb7;
  --color-tertiary: #3bdda7;

  --color-text: #42474a;
  --color-black: #000000;
  --color-grey: #a2a4b9;
  --color-grey-light: #f4f5f9;
  --color-white: #ffffff;
  --color-white-beije: #fffbfb;
}

// FOR BASE STYLES
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  // This defines the value of 1rem.
  font-size: 62.5%; // 62.5% of 16px (default browser font size) = 10px
}

html,
body {
  min-height: 100vh;
}

body {
  font-family: var(--default-font-family);
  font-size: var(--default-font-size);
  color: var(--color-text);
  font-weight: normal;
}

#root {
  display: flex;
  flex-direction: column;
}
